.Nav_button {
    margin-left: 5px;
}

.Add_button {
    margin-bottom: 10px;
}

.edit-delete-button {
    vertical-align: baseline;
    margin: 2px auto auto auto;
    display: block;
    width: 31px;
}

input.delete-modal-error {
    border: 1px solid #eb516d;
}

button.close_modal_button {
    float: right;
}

div.select-search {
    width: 100%;
}

.btn-outline-green {
    background-color: white;
    border-color: #037d41;
    color: #037d41;
}

.btn-green {
    background-color: #037d41;
    color: white;
}

.btn-outline-green:not(:disabled):not(.disabled).active,
.btn-outline-green:hover {
    background-color: #037d41;
    border-color: #037d41;
    color: #ffff;
}