.Nav_button  {
    margin-left: 5px;
}

.Add_button {
    margin-bottom: 10px;
}

.edit-delete-button {
    vertical-align: baseline;
    margin: 2px auto auto auto;
    display: block;
    width: 31px;
}

input.delete-modal-error
{
    border: 1px solid #eb516d;
}

button.close_modal_button {
    float: right;
}

div.select-search {
    width: 100%;
}